body {
    margin:0;
    padding:0;
    overflow: hidden;
}

#universe {
    width: 100%;
    height: 100%;
}

#controlsContainer {
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.3);
    width: 250px;
    height: 100%;
    padding: 10px;
    left: 0px; top: 0px;
    overflow-y: scroll;
    z-index: 2;
}

#posControlsContainer {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.3);
    width: 150px;
    height: 100px;
    padding: 6px;
    left: 50%; top: 30%;
    margin-left: -75px;
    border-radius: 50px;
    padding-right: 30px;

    z-index: 10;
}

#posControlsContainer table {
    height: 100%;
    width: 100%;
}

#posControlsContainer td button {
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 0px;
    line-height: 100%;

    z-index: 100;
}

#controls input {
    height: 20px; width: 50px;
}

#tickContainer {
    position:absolute;
    bottom: 0; right: 0;
    width: 80px; height: 50px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.3);
}
#debugContainer {
    position:absolute;
    top: 0; right: 0;
    width: 100px; height: 50px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.3);
}
#nahled {
    position:absolute;
    top: 0; left: 0;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.3);
    margin-left: -100px;

    z-index: 1;
}
#nahled img {
    height: 200px;
    margin: 6px;
}
.hidden {
    display: none;
}

#clusterVisualiser {
    position:absolute;
    bottom: 0; left: 300px;
    width: calc(100% - 600px); height: 400px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.3);
}

#clusterVisualiser > div{
    height: 360px;
    overflow: scroll;
}

#allClusterVisualiser {
    overflow: scroll;
    width: 100%;
    height: 100%;
    
    position: absolute;
    background: white;
    
    left:0; top:0;
    z-index: 100;
    
    display:none;
}

#editorSkrini {
    overflow: scroll;
    width: 100%;
    height: 100%;
    
    position: absolute;
    background: white;
    
    left:0; top:0;
    z-index: 1000;
    
    display:none;
}

#editorLeftMenu {
    position: absolute;
    left: 0px; top: 0px;
    width: 550px;
    height: 100%;
    overflow: scroll;
}

.locationMenuItem td {
    padding: 6px;
    border-bottom: 1px solid black;
}

#editorLocationView {
    position: absolute;
    left: 550px; top: 0px;
    width: calc(100%-550px);
    height: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    overflow: scroll;
}

#editorLocationContent .locationBook {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
}

#editorLocationContent .series {
    display: inline-block;
    padding: 6px;
    margin: 10px;
    border: 1px solid gray;
}

.series .controls {
    display: inline-block;
}

#editorLocationContent .locationBook img {
    height: 120px;
}

.bookOrientationHrbet {
    background: brown;
}

.bookOrientationCelo {
    background: green;
}

.activeToMove {
    background: yellow;
}

#editorLocationViewHeader {
    position: fixed;
    padding: 6px; top: 0px;
    background: white;
    font-size: 28px;
}

#editorLocationViewHeader input {
    height: 30px;
    font-size: 28px;
}

.locationMoveable {
    cursor: pointer;
}

.locationCapacityOverload {
    color: red;
}

.hidden {
    display: none !important;
}

.noToggleOrientationBtn .toggleOrientationBtn {
    display: none !important;
}